/* ShoppingCart.css */
.shopping-cart {
    background-color: #f7f7f7; /* Light grey background for the whole page */
    min-height: 100vh; /* Full height */
    padding-top: 20px;
  }
  
  .container {
    width: 90%; /* Responsive width */
    max-width: 1200px; /* Maximum width */
    margin: auto; /* Centering */
    margin-top: 128px;
    text-align: center;
    background-color: #ffffff; /* White background for the container */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .product-list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between items */
    padding: 20px 0;
  }
  
  .product-item p {
    text-align: center; /* Center-align text within <p> */
    margin: 10px 0; /* Add some top and bottom margin */
    color: #666; /* Give it a specific color if needed */
    font-size: 16px; /* Adjust font size as needed */
  }

  .product-item .product-price {
    text-align: center;
    margin: 10px 0;
    color: #666;
    font-size: 16px;
  }
  
  .product-item img {
    width: 100%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
    border-bottom: 1px solid #e0e0e0; /* Separator between image and text */
  }
  
  .product-item h3 {
    margin: 10px 0 5px; /* Spacing around title */
    color: #333; /* Dark grey color for text */
  }
  
  .product-item button {
    background-color: #5cb85c; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px; /* Rounded corners for buttons */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-item button:hover {
    background-color: #4cae4c; /* Darker green on hover */
  }
  
/* General styles for images */
.product-item img {
    width: 100%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
    border-bottom: 1px solid #e0e0e0; /* Separator between image and text */
  }
  
  /* Media query for devices with a maximum width of 600px */
  @media (max-width: 600px) {
    .product-item img {
      max-width: 150px; /* Restrict width to 150px on small devices */
      max-height: 150px; /* Optional: you can also restrict the height if needed */
      height: auto; /* Maintain aspect ratio */
      margin: auto; /* Center the image if the container is wider */
    }
  }
  
  