/* Styles for ThreadsPage */
.thread-list {
    list-style: none;
    padding: 0;
}

.thread-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-link {
    text-decoration: none;
    color: black;
    flex-grow: 1; /* Ensures the link fills all available space except for the button */
    font-family: 'Garamond', serif; /* Garamond for a consistent look */
    font-size: 18px; /* Adequate size for readability */
}

.admin-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px; /* Space between the text and the button */
}

.admin-button:hover {
    background-color: #45a049;
}
