:root {
  --main-background-color: #f9fbf2;
  --main-top-background-color: #fbfef9;
  --main-accent-color: #fb8f67;
  --title-color: #1e2019;
}

.image {
  width: 20px;
  height: 20px;
}
.button.is-primary {
  background-color: var(--main-accent-color);
}

.button.is-primary:hover {
  background-color: var(--title-color);
}

.title {
  color: var(--main-accent-color);
  font-family: "Inconsolata", monospace;
  font-size: 3em;
}

#inner-large-banner {
  height: 40%;
  width: 100%;
  /* background-image: url("img/forest.jpg"); */
  background-size: cover;
  background-position: 50% 25%;
}

#wrapper {
  width: 80%;
  min-height: 70%;
  /* margin-top: -100px; */
  background-color: var(--main-top-background-color);
  margin: -100px auto 0 auto;
  padding: 30px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  border-radius: 0.25rem;
}

#product-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product-title {
  font-size: 2em;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product-tile {
  flex: 1 1 30%; /* Each tile will take up around 30% of the container width */
  margin-bottom: 20px; /* Adds space between the rows */
}

.product-list-container {
  margin-top: 100; /* slightly more than the height of the navbar */
  padding: 20px;
}

.filter-bar {
  margin-top: 70px; /* Space between the navbar and the filter bar */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart {
  margin-top: 70px;
}

button {
  padding: 10px;
  font-size: 12px;
  background-color: #a8e674; /* Green background color */
  border: none;
  cursor: pointer;
  color: black; /* Text color */
}
