/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0; /* Ensure it starts from the very left */
  right: 0; /* Ensure it stretches to the very right */
  background-color: #a8e674; /* Light green background */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between hamburger and title */
  z-index: 1000; /* Ensure navbar is above other content */
}

.navbar-title {
  font-size: 20px;
  color: black; /* Color of the title */
  margin-left: 10px; /* Space between hamburger and title */
}

.navbar button {
  padding: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50px; /* Start the dropdown right below the navbar */
  left: 0;
  right: 0;
  background-color: #a8e674;
  display: none; /* Initially hide the dropdown */
  text-align: center;
}

.navbar ul.show-dropdown {
  display: block; /* Shows the dropdown */
}

.navbar ul li {
  text-align: center;
  margin-top: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #95d26f;
}

.hamburger-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

.small-img {
  width: 100px; /* Set the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}
